

.navbar-container {
    box-shadow: 0px 5px 4px rgba(229, 229, 229, 0.5);
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}

.navbar-container .navbar-inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em 1em 2.5em;
}

.navbar-inner .navbar-logo-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0px;
    font-weight: 600;
    color: var(--primary-green);
}

.navbar-inner .options-section .login-text{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-green);
    margin: 0 2em;
}

.navbar-inner .options-section .navbar-email {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-grey);
}

.navbar-inner .options-section .get-started-btn {
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: var(--primary-green);
    color: var(--primary-white);
    padding: .5em 1em;
    margin: 0 1.5em;
}   