.get-started {
    height: 93vh;
}

.get-started .banner-img-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.get-started .banner-img-section .banner-img {
    width: 85%;

}

.get-started .form-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: #183247;
}

.get-started .form-section .title-text {
    font-size: 33px;
    font-weight: bold;
    line-height: 50px;
}

.get-started .form-section .sub-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin: .5em 0;
    color: #183247B2;
}

.get-started .form-section .form {
    margin: 2em 0;
    width: 100%;
}

.get-started .form-section .form .label-text {
    color: #A1A6A9;
}

.get-started .form-section .form .form-input, .get-started .form-section .form .form-input:focus {
    border: 0.5px solid #A1A6A9;
    border-radius: 2px;
    padding: 1em .5em;
    width: 75%;
    outline: none
}

.get-started .form-section .form .form-input::placeholder {
    color: #A1A6A9;
    opacity: 1;
}

.get-started .form-section .form .form-error-text {
    color: red;
}

.form-submit-btn {
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: var(--primary-green);
    color: var(--primary-white);
    padding: .75em 1.5em;
    margin: 2em 0;
    font-weight: 600;
}


